.search-form{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(226, 165, 179);
    color: rgb(242, 242, 242);
    height:110px;
}
input{
    margin-right: 20px;
    padding: 20px;
    border-radius: 8px;
    border-style: none;
}
button{
    padding: 20px;
    background-color: rgb(180, 27, 103);
    color: aliceblue;
    text-align: center;
    border-radius: 8px;
border-style: none;

}
.gallery{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
}